html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100vh;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0px 40px;
  transition: padding 0.3s ease-in;
}

// Button in Page (not only and more)
.button-color-link {
  background-color: $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 15px 45px 15px 45px;
  // height: 52px;
  // width: 208px;
  
  .button-color {
    font-family: $font-accent;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
  }
}

.button {
  cursor: pointer;
  font-family: $font-accent;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  border: 2px solid $color-accent;
  border-radius: 100px;
  width: 187px;
  height: 53px;
  // padding: 13.9px 43px;
}


.svg-fill {
  fill: #F1CDB3;
}

.shadow {
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); // rgba(0, 0, 0, 0.5)
  width: 0;
  height: calc(100vh);
  transition: width 0.3s ease-in;
}

.shadow-show {
  width: calc(100% - 319px);
  transition: width 0.3s ease-in;
}

.arrow-mobile {
  display: none;
}


// Burger menu styles
.burger-menu {
  display: none;
  transition: transform 0.3s ease-in;
  position: relative;
  z-index: 10;

  .burger-menu-item {
    height: 2px;
    width: 30px;
    background-color: $color-dark-3xl;
  }

  .main-burger {
    background-color: $color-accent;
  }
}

.burger-menu-reverse {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 767px) {
  .burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }
}

@media screen and (max-width: 510px) {
  .container {
    padding: 0px 10px;
  }
}


@media screen and (max-width: 450px) {
  .container {
    transition: padding 0.3s ease-in;
    padding: 0px 15px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    transition: padding 0.3s ease-in;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 319px) {
  .container {
    transition: padding 0.3s ease-in;
    padding: 0px 0px;
  }
}

@media (hover: hover) {
  // Buttons hover
  .button-color-link:hover {
    background-color: $color-primary-light;
    transition: background-color, 0.3s ease-in;
  }

  .button-color-link:not(hover) {
    background-color: $color-accent;
    transition: background-color, 0.3s ease-in;
  }
}