// Colors
$base-color: #ffffff;
$color-accent: #F1CDB3; // color-primary
$active-color-font: #FAFAFA;
$color-primary-light: #fddcc4; // $color-primary-light
$color-light-l: #f6f6f6;
$standart-color-font: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-m: #b2b2b2;
$black-color: #000;

// Fonts
$font-base: "Arial", sans-serif;
$font-accent: "Georgia", sans-serif;
$font-second-family: "Arial", sans-serif;