.friends__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  transition: gap 0.3s ease-in;
}

.friends {
  background-color: $color-light-l;
  padding: 80px 0px 100px 0px;
}

.friends__title {
  text-align: center;
  margin: 0 auto;
  font-family: $font-accent;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  transition: margin 0.3s ease-in;
}

.friends__wrapper-slider {
  display: flex;
  flex-direction: row;
  column-gap: 53px;
  justify-content: space-between;
  align-items: center;
}

.friends__slider {
  display: flex;
  overflow: hidden;
  max-width: 990px;
  flex-direction: row;
  column-gap: 90px;
  align-items: center;
  justify-content: space-between;
  order: 1;

  .friends__card-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in;
  }
}

.friends__card {
  min-width: 270px; // 270px
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background-color: $active-color-font;
  row-gap: 30px;
  padding-bottom: 29px;

  .friends__card-img {
    border-radius: 9px 9px 0 0;
  }

  .friends__card-title {
    font-family: $font-accent;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark-l;
  }
}

.friends__arrow {
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid $color-accent;
  width: 52px;
  height: 52px;
  // padding: 20.4px 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  .friends__arrow-svg path {
    fill: #292929;
  }
}

.friends__arrow-right {
  order: 2;
}

@media screen and (max-width: 1240px) {
  .friends__wrapper-slider {
    column-gap: 12px;
  }

  .friends__slider {
    max-width: 580px;
    transition: column-gap 0.3s ease-in;

    .friends__card-wrapper {
      column-gap: 40px;
    }
  }

  .friends__card:last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .friends .friends__title-main {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .friends__slider {
    max-width: 270px;
    transition: column-gap 0.3s ease-in;
  }

  .shadow {
    display: block;
  }
}

@media (hover: hover) {
  // Buttons hover
  .button-color-link:hover {
    background-color: $color-primary-light;
    transition: background-color, 0.3s ease-in;
  }

  .button-color-link:not(hover) {
    background-color: $color-accent;
    transition: background-color, 0.3s ease-in;
  }


  .friends__card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: $base-color;
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
  }
  .friends__card:not(hover) {
    box-shadow: none;
    background-color: $active-color-font;
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
  }

  .friends__card:hover .button {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
    transition: all 0.3s ease-in;
  }
  .friends__card:not(hover) .button {
    background-color: $active-color-font;
    border: 2px solid $color-accent;
    transition: background-color 0.3s ease-in;
  }

  // Svg styles
  .friends__arrow:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
    transition: all 0.3s ease-in;
  }
  .friends__arrow:not(hover) {
    background-color: $color-light-l;
    border: 2px solid $color-accent;
    transition: all 0.3s ease-in;
  }
}