.container__not-only {
  
}

.not-only {
  margin-top: -125.25px;
  padding-top: 185px;
  background: 
    url("/main/noise_transparent@2x.png"),
    radial-gradient(87% 215.42% at 0% 0%, #5B483A 14.5%, #262425 74.5%), #211F20;
  color: $base-color;
}

.not-only__wrapper {
  background: url("/public/main/start-screen-puppy.png") no-repeat right bottom;
  background-size: contain;
  transition: padding 0.3s ease-in;
}

.not-only__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 42px;
  max-width: 39%;
  padding: 163px 0px 243px 0px;

  .not-only__title {
    font-family: $font-accent;
    font-weight: 400;
    font-size: 44px;
    line-height: 131.9%;
    margin-right: 150px;
  }

  .not-only__text {
    font-family: $font-base;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
    color: $standart-color-font;
  }
}

.not-only__button {
  max-width: 208px;
}

@media screen and (max-width: 1240px) {
  .not-only {
    margin-top: -125.25px;
    padding-top: 155px;
  }
  
  .not-only__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 693px;
    // background-size: 80%;
    background: url("/public/main/start-screen-puppy-768.png") no-repeat right bottom;
  }
  
  .not-only__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    max-width: 460px;
    padding: 0px 0px 0px 0px;
  }
}


@media screen and (max-width: 1100px) {
  .not-only {
    margin-top: -125.25px;
    padding-top: 155px;
  }
  
  .not-only__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 693px;
  }
  
  .not-only__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    max-width: 460px;
    padding: 0px 0px 0px 0px;
  }
}